{% extends "base.html.twig" %}

{% block title album.album_titre %}

{% block body %}
<div class="container mt-4">
    <div class="jumbotron">
        <div class="media">
            <img src="https://i.imgur.com/c3Onlpi.jpg" width="157px" height="212px" class="align-self-start mr-3">
            <div class="media-body">
                <h5 class="mt-0">{{ album.album_titre }}</h5>
                C'est l'album n°{{ album.album_tome }} paru en {{ album.album_parution }}. Il contient ces {{ nb_jurons }} jurons :
                <ul>

                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
